{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    {% include "menu.html" %}
    <div class="row">
        <div class="row py-3 ps-5">
            <div class="col-10">
                <h3>Success! Welcome, {{ request.session.user_data.name }} ({{ request.session.user_data.username }})!</h3>
                <h5 class="text-success pt-3">Successfully 
                    {% if request.session.user_data.action == "register"  %}
                        registered!
                    {% else %}
                        logged in
                    {% endif %}
                </h5>
            </div>
        </div>
        <div class="row py-3 ps-5">
            <p>Here's the homepage main content</p>
        </div>
    </div>
{% endblock %}    